<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">We Are Specialists In</h2>
          <h3 class="section-sub-title">What We Do</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
        <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="images/icon-image/service-icon1.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Architecture Designing</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 1 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="images/icon-image/service-icon2.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Landscape Designing</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 2 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="images/icon-image/service-icon3.png"  alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Interior Designing</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 3 end -->

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon3.png"  alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Structure Designing</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div>

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon3.png"  alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Quantity Estimation</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div>

        </div><!-- Col end -->

        <div class="col-lg-4 text-center">
          <img loading="lazy" class="img-fluid" src="images/services/service-center.jpg" alt="service-avater-image">
        </div><!-- Col end -->

        <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="images/icon-image/service-icon4.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Geotechnical Investigation</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 4 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="images/icon-image/service-icon5.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Measurement Audits</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 5 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Project Planning & Management</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 6 end -->

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Project Monitoring & Supervision</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div>

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Preliminary & Detailed Survey</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div>
        </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section><!-- Service end -->